<?xml version="1.0"?>
<config>
    <modules>
        <Chandan_Checkout>
            <version>0.0.1</version>
        </Chandan_Checkout>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Chandan_Checkout_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <chandan_checkout>
                <class>Chandan_Checkout_Helper</class>
            </chandan_checkout>
        </helpers>
        <models>
            <chandan_checkout>
                <class>Chandan_Checkout_Model</class>
            </chandan_checkout>
        </models>
    </global>
    <default>
        <checkout>
            <options>
                <hide_shipping>1</hide_shipping>
                <default_shipping>tablerate_bestway</default_shipping>
            </options>
        </checkout>
    </default>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Chandan_Checkout before="Mage_Checkout">Chandan_Checkout</Chandan_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Chandan_Checkout>
                    <files>
                        <default>Chandan_Checkout.csv</default>
                    </files>
                </Chandan_Checkout>
            </modules>
        </translate>
    </frontend>
</config>